version: '3.8'

services:
  # Serviço do Banco de Dados
  postgres:
    image: postgres:15-alpine
    container_name: dengue_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: dengue_control
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  # (Opcional) Interface gráfica web para ver o banco
  # Útil para debug rápido sem precisar instalar cliente SQL
  pgadmin:
    image: dpage/pgadmin4
    container_name: dengue_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  pg_data: